/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: 'Inter-Variable';
  --accent-font: 'PressStart2P';
  --card-text-w: 400;
  --card-title-w: 700;
  --background-color: #ffffff;
  --accent-color: #000000;
  --background-image:
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, rgb(211 211 211 / 0) 2px 4px),
    repeating-linear-gradient(to right, #d3d3d3 0 2px, rgb(211 211 211 / 0) 2px 4px),
    linear-gradient(to bottom, #e7e7e7, #e7e7e7 0.01%, #1a1a1a 100%);
  --max-width: 700px;
  --contour-color: #000000;
  --filling-color: #ff0000;
  --button-text-color: #ffffff;
  --stroke-color: rgb(255 255 255 / 0.5);
}